<body>



    <div class="jumbotron">
        <div class="container text-center">
        <h1>Events</h1>      
        <!--<p>Mission, Vission & Values</p> -->
        </div>
    </div>
    
    
    <div class="container">
      <div class="row">
        <div class="container-1 col-xs-12 col-sm-3 col-lg-3">
            <div class="fall-item fall-effect roundedCorner">
                      <img src="http://placeimg.com/260/260/nature/8/"/>
                      <div class="mask">
                          <h2>Event-1 Name</h2>
                          <p>Round-1: Details<br>Round-2: details</p>
                          <a href="#" class="btn btn-default">Read More</a>
                      </div>
                  </div>
            <h4 class="text-center">Event-1: Product Enigma</h4>
          </div>

          <div class="container-1 col-xs-12 col-sm-3 col-lg-3">
            <div class="fall-item fall-effect roundedCorner">
                      <img src="http://placeimg.com/260/260/nature/8/"/>
                      <div class="mask">
                          <h2>Event-2 Name</h2>
                          <p>Round-1: Details<br>Round-2: details</p>
                          <a href="#" class="btn btn-default">Read More</a>
                      </div>
                  </div>
            <h4 class="text-center">Event-2: Sherlocked</h4>
          </div>

          <div class="container-1 col-xs-12 col-sm-3 col-lg-3">
            <div class="fall-item fall-effect roundedCorner">
                      <img src="http://placeimg.com/260/260/nature/8/"/>
                      <div class="mask">
                          <h2>Event-3 Name</h2>
                          <p>Round-1: Details<br>Round-2: details</p>
                          <a href="#" class="btn btn-default">Read More</a>
                      </div>
                  </div>
            <h4 class="text-center">Event-3: Nat-Varttika</h4>
          </div>
      </div>
      <div class="row">
          <div class="container-1 col-xs-12 col-sm-3 col-lg-3">
            <div class="fall-item fall-effect roundedCorner">
                      <img src="http://placeimg.com/260/260/nature/8/"/>
                      <div class="mask">
                          <h2>Event-4 Name</h2>
                          <p>Round-1: Details<br>Round-2: details</p>
                          <a href="#" class="btn btn-default">Read More</a>
                      </div>
                  </div>
            <h4 class="text-center">Event-4: Nirmoktr</h4>
          </div>

          <div class="container-1 col-xs-12 col-sm-3 col-lg-3">
            <div class="fall-item fall-effect roundedCorner">
                      <img src="http://placeimg.com/260/260/nature/8/"/>
                      <div class="mask">
                          <h2>Event-5 Name</h2>
                          <p>Round-1: Details<br>Round-2: details</p>
                          <a href="#" class="btn btn-default">Read More</a>
                      </div>
                  </div>
            <h4 class="text-center">Event-5: Yet to decide name :(</h4>
          </div>

        <!-- Hover-Fall Effect-->
        <div class="container-1 col-xs-12 col-sm-3 col-lg-3 ">
          <div class="fall-item fall-effect roundedCorner">
                    <img src="http://placeimg.com/260/260/nature/8/"/>
                    <div class="mask">
                        <h2>Event-6 Name</h2>
                        <p>Round-1: Details<br>Round-2: details</p>
                        <a href="#" class="btn btn-default">Read More</a>
                    </div>
                </div>
          <h4 class="text-center">Event-6: Tinkerers Challenge</h4>
        </div>
      </div>
    </div>
    </body>