<body>
    
    <div class="top">
    <section id="hero">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    
             <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#heroCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#heroCarousel" data-slide-to="1"></li>
        <li data-target="#heroCarousel" data-slide-to="2"></li>
      </ul>
    
            <div class="carousel-inner" role="listbox">
    
                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(assets/vnjiet.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>ECFICI⚙</span></h2>
                            <p class="animate__animated animate__fadeInUp">Entreprenuership fest</p>
                        </div>
                    </div>
                </div>
    
                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(assets/vnjiet.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Ecfici⚙</h2>
                            <p class="animate__animated animate__fadeInUp">ECFICIO is the first-ever Entrepreneurship
                                Fest of VNR Vignana Jyothi Institute of Engineering & Technology. Organised together
                                with the Institute’s Entrepreneurship Development Cell (ED Cell) and VJ Foundation for
                                Entrepreneurial Excellence (“VJ Hub”), this fest plays its little part in developing
                                technopreneurs of tomorrow and igniting the zeal of entrepreneurship among the students
                                by tapping their latent talent and pushing them to apply their strengths innovatively.
                            </p>
                        </div>
                    </div>
                </div>
    
                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(assets/vnjiet.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Entrepreneurship</h2>
                            <p class="animate__animated animate__fadeInUp">yeild</p>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <a class="carousel-control-prev" href="#heroCarousel" role="button" style="margin-left:40px ;" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
    
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
    
        </div>
    </section><!-- End Hero -->
    </div>
    
    
    
    
    
    <br><br><br><br>
    <div class="section-title">
        <h2 style="color: white;">What is Ecficio!</h2>
        <div class="container">
            <p style="font-style: italic;font-size: 15pt; color: white;">Ecficio, the Entrepreneurship Fest of VNRVJIET is a
                two-day fi esta to engage its participants with Entrepreneur Talks, Panel Discussions,
                Hands-on Workshop and Fun Filled Events that enable the students to hone their enterprising skills.
                Collectively organised by Entrepreneurship Development (ED) Cell and Institute’s Incubation Hub, the “VJ
                Hub”,
                Ecficio bestows students with an unforgettable learning experience. The members of Ecficio family are
                proud
                practitioners of holacracy.We hope this platform reaches out to every budding entrepreneur to tap one’s
                potential and quiescent talents. </p>
        </div>
    </div>
    
    
    
    
    
    
    
            <div class="container" id="card">
                <!-- End Featured Services Section -->
                <div class="card-deck" style="padding: 20pt; ">
    
    
    
                    <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="assets/events.jpg" alt="Avatar" style="width:300px;height:300px; border-radius: 5px;">
                          </div>
                          <div class="flip-card-back"> <br>
                            <h5 class="card-title" style="font-style: italic; text-align: center;"><strong>Events</strong></h5>
                            <p class="card-text">Ecficio, the Annual Entrepreneurship Fest of VNRVJIET, collectively
                                organised by the Entrepreneurship Development Cell (ED Cell) and VJ Hub, is a two-day
                                fiesta
                                that provides a platform for students to hone their enterprising skills</p>
                                <div class="text-center">
                                    <a style="width: 60%; box-shadow: rgb(183, 184, 183); border: black; font-style: italic; outline-color: black;"
                                        routerLink='/ehome' class="btn btn-dark" style="color: white;">Explore</a>
                                </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="assets/events.jpg" alt="Avatar" style="width:300px;height:300px; border-radius: 5px;">
                          </div>
                          <div class="flip-card-back"> <br>
                            <h5 class="card-title" style="font-style: italic; text-align: center;"><strong>Publicity and Campaign</strong></h5>
                            <p class="card-text">Ecficio, the Annual Entrepreneurship Fest of VNRVJIET, collectively
                                organised by the Entrepreneurship Development Cell (ED Cell) and VJ Hub, is a two-day
                                fiesta
                                that provides a platform for students to hone their enterprising skills</p>
                                <div class="text-center">
                                    <a style="width: 60%; box-shadow: rgb(183, 184, 183); border: black; font-style: italic; outline-color: black;"
                                        href="#" class="btn btn-dark" style="color: white;">Explore</a>
                                </div>
                          </div>
                        </div>
                      </div>
    
                      <div class="flip-card">
                        <div class="flip-card-inner">
                          <div class="flip-card-front">
                            <img src="assets/events.jpg" alt="Avatar" style="width:300px;height:300px; border-radius: 5px;">
                          </div>
                          <div class="flip-card-back">
                              <br>
                            <h5 class="card-title" style="font-style: italic; text-align: center;"><strong>Competitions</strong></h5>
                            <p class="card-text">Ecficio, the Annual Entrepreneurship Fest of VNRVJIET, collectively
                                organised by the Entrepreneurship Development Cell (ED Cell) and VJ Hub, is a two-day
                                fiesta
                                that provides a platform for students to hone their enterprising skills</p>
                                <div class="text-center">
                                    <a style="width: 60%; box-shadow: rgb(183, 184, 183); border: black; font-style: italic; outline-color: black;"
                                        href="#" class="btn btn-dark" style="color: white;">Explore</a>
                                </div>
                          </div>
                        </div>
                      </div>
    
                    
                </div>
            </div>
    
    
    
    
    
    
    
    
    
    
    
    
             <!--testimonials-->
    
            <!--Section heading-->
            <section class="section-title">
                <h2 class="h1-responsive font-weight-bold text-center my-5" style="color: white;">TESTIMONIALS</h2>
                <!-- Section description -->
            </section>
    
            <div class="container">
            <!--Grid row-->
            <div class="row mx-1">
    
                <!--Grid column-->
                <div class="col-md-12 mb-4">
                    <div class="card card-image">
                        <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                            <div>
                                <h6 class="purple-text"><i class="fas fa-plane"></i><strong> </strong></h6>
                                <img src="assets/images/testimonials/kiran.png" class="img-fluid" style="height: 100px; width: 100px;">
                                <h5 class="card-title py-3 font-weight-bold"><strong>Dr.Kiran Chakravarthula</strong></h5>
                                <h6> <strong>Faculty Cordinator</strong></h6>
                                <p class="pb-3">Ecficio is a rivering experience that engages students like no other to me,
                                    creating an innovation on culture organically. The Fest welcomes diverse
                                    participants – from students of Polytechnic, B.Tech., and M.Tech. – and paints a
                                    bright and optimistic picture for entrepreneurship. As a teacher willing to shape
                                    the students to be responsible citizens of the future, I see a great potential in
                                    gamified learning that Ecfi cio brings in effortlessly through the various events.
                                    The Panel Discussions, Entrepreneur Talks, and other knowledge-sharing
                                    activities complement the learning in more formal and conventional
                                    manner, while also bringing into the fore the human side of entrepreneurial
                                    experience and challenges in the domain where academia and innovation meet</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="card card-image">
                        <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                            <div>
                                <h6 class="pink-text"><i class="fas fa-chart-pie"></i><strong> </strong></h6>
                                <img src="assets/images/testimonials/ristabsh.png" style="height: 100px; width: 100px;" class="img-fluid">
                                <h5 class="card-title py-3 font-weight-bold"><strong>Ristabhash Das</strong></h5>
                                <h6> <strong> Winner-CEO's Dilemma-Ecficio 2.0 </strong></h6>
                                <p class="pb-3">I loved my experience at Ecficio last
                                    year. The events were very unique
                                    and there was a wide and interesting variety of events which found
                                    the right balance between fun
                                    and learning. The cash prizes defi -
                                    nitely were the icing on the cake
                                    and I wish team Ecfi cio the very
                                    best for the third edition this year.</p>
    
                            </div>
                        </div>
                    </div>
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-md-6 mb-4">
                    <div class="card card-image">
                        <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                            <div>
                                <h6 class="pink-text"><i class="fas fa-chart-pie"></i><strong> </strong></h6>
                                <img src="assets/images/testimonials/aditya.png" style="height: 100px; width: 100px;" class="img-fluid">
                                <h5 class="card-title py-3 font-weight-bold"><strong>Aditya Chirravuri</strong></h5>
                                <h6> <strong> Panelist-Ecficio 2.0 </strong></h6>
                                <p class="pb-3">It was indeed a wonderful experience to interact with students and
                                    talk to them about Design Thinking,
                                    Disruptive Innovation and Social
                                    Entrepreneurship. I would like to
                                    specially thank Dr. C. Kiran and his
                                    team for a warm welcome and all
                                    the hospitality</p><br>
    
                            </div>
                        </div>
                    </div>
                </div>
            <!--Grid column-->
    
            </div>
            <!--Grid row-->
    </div>
    <br><br><br><br>
    
    
    
    
    
           
    
    
    
    <section id="clients" class="clients">
        <div class="container">
    
            <div class="section-title">
                <h2 style="color:white;">Our sponsers</h2>
                <br><br>
                <p style="color: white;">Ecficio, the Annual Entrepreneurship Fest of VNRVJIET, collectively organised by the
                    Entrepreneurship
                    Development Cell (ED Cell) and VJ Hub, is a two-day fiesta 
                    <br> that provides a platform for
                    students to
                    hone their enterprising skills</p>
            </div>
            <br>
    
            <div class="container" id="sponsors">
                <div class="row mx-1">
                    <div class="col md-2 mb-2" >
                        <img src="assets/myntra.jpg" style="height: 100px; width: 150px;" alt="">
                    </div>
                    <div class="col md-2 mb-2">
                        <img src="assets/myntra.jpg" style="height: 100px; width: 150px; " alt="">
                    </div>
                    <div class="col md-2 mb-2">
                        <img src="assets/myntra.jpg" style="height: 100px; width: 150px; " alt="">
                    </div>
                    <div class="col md-2 mb-2">
                        <img src="assets/myntra.jpg" style="height: 100px; width: 150px; " alt="">
                    </div>
                </div>
                
                
            </div>
            <br><br><br>
    
        </div>
    </section>
    
    </body>
    
    
    
    
    